<!doctype html>
<html>
  <head>
    <title>Admin | KtmJS</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="/admin/css/index.css" type="text/css"/>
    <link rel="stylesheet" href="/admin/css/admin.css" type="text/css"/>
  </head>

  <body>
      <img class="logo" src="/admin/images/logo.png" alt="Kathmandu JS User Group Logo" />
    <nav class="Panel__Navigation">
        <a href="/meetups">Episodes</a>
      <a href="/people">People</a>
      <a href="/companies">Organizations</a>
      <ul class="Navigation">
      </ul>
    </nav>

    <!-- <div class="Panel__Timeline"> -->
    <div class="Panel__Form">
      <form action="/update/{{_id}}" class="Form" name="meetup-update-form" method="post">

      <label for="episode" class="Form__Label">episode</label>
        <input type="text" placeholder="episode" class="Form__TextInput" value={{episode}} readonly="readonly" />
        
      <label for="episode" class="Form__Label">date</label>
        <input type="date" placeholder="date" name="date" class="Form__TextInput" value={{date}} />

        <label for="time" class="Form__Label">Session Start Time</label>
        <input type="time" placeholder="starting time" name="startsAt" class="Form__TextInput" value={{startsAt}} />

        <label for="time" class="Form__Label">Ending time</label>
        <input type="time" placeholder="ending time" name="endsAt" class="Form__TextInput" value={{endsAt}} />


         <h2 class="Form__Subtitle">Venue Details</h2>
         <label for="venue" class="Form__Label">Organization Name</label>
        <input type="text" placeholder="Organisation" name="venue[organisation]" class="Form__TextInput" value={{venue.organisation}} />
        <label for="address_1" class="Form__Label">Organization Address 1</label>
        <input type="text" placeholder="Address Line 1" name="venue[addr_line1]" class="Form__TextInput" value={{venue.addr_line1}} />
        <label for="address_2" class="Form__Label">Organization Address 2</label>
        <input type="text" placeholder="Address Line 2" name="venue[addr_line2]" class="Form__TextInput" value={{venue.addr_line2}} />

        <h2 class="Form__Subtitle">Sessions Details</h2>
        <div id="sessions">
          {{#each session}}
          <h4>{{title}}</h4>
          <div style="display:">
            
          <label for="title" class="Form__Label">Title</label>
          <input type="text" placeholder="title" class="Form__TextInput" value='{{title}}'>
          <label for="time" class="Form__Label">Session Start Time</label>
          <input type="time" placeholder="time" class="Form__TextInput" value={{time}}>
          <!-- <input type="text" placeholder="desc" class="Form__TextInput" value={{description}}> -->
          <label for="description" class="Form__Label">Description</label>
          <textarea class="Form__TextArea">
            {{description}}
          </textarea>
          <label for="speakers" class="Form__Label">Speaker</label>
          <input type="text" id="speakers" name="session[0][speakers]" class="Form__TextInput"/>
          <hr style='border:2px green solid; margin:0 0 50px'>
          </div>
          {{~/each}}

        </div>
          <button onclick="return addPeople(event);">Add People</button>
        <button type="button" onclick="return addSession(event);" class="Button Button--Neutral">+ Add another session</button>

       
      </form>

      <script>
      // debugger;
        window.Index = {
          Session: {{session.length}},
          People: 0,
          Sponsor: 0,
          Supporter: 0
        };

      function getNode(name, type, placeholder, val) {
          var input = document.createElement('input');
          input.name = name;
          input.type = type;
          input.placeholder = placeholder;
          input.value = val ? val : null;
          input.classList.add('Form__TextInput');
          return input;
        }

        fimctop

        function addSession(e) {
          e.stopPropagation();
          e.preventDefault();

          var sessionsElm = document.getElementById('sessions');
          console.log('hey what', sessionsElm);
          //sessions.appendChild('<label for="title" class="Form__Label">Title</label>');
          sessions.appendChild(getNode("sessions[" + window.Index.Session + "][title]", "", "title", sessionsElm.children[0].value));
          sessions.appendChild(getNode("sessions[" + window.Index.Session + "][time]", "", "time", sessionsElm.children[1].value));
          sessions.appendChild(getNode("sessions[" + window.Index.Session + "][desc]", "", "desc", sessionsElm.children[2].value));

          ++window.Index.Session;

          window.Index.People = 0;
        }

        function addSponsors(e) {
          e.stopPropagation();
          e.preventDefault();

          var sponsorsElm = document.getElementById('sponsors');
          var dropdownElm = sponsorsElm.children[0];
          sponsorsElm.appendChild(getNode("sponsors[" + window.Index.Sponsor + "][name]", "hidden", "text", dropdownElm[dropdownElm.selectedIndex].value));

          ++window.Index.Sponsor;
        }

        function addSupporters(e) {
          e.stopPropagation();
          e.preventDefault();

          var supportersElm = document.getElementById('supporters');
          var dropdownElm = supportersElm.children[0];
          supportersElm.appendChild(getNode("supporters[" + window.Index.Supporter + "][name]", "hidden", "text", dropdownElm[dropdownElm.selectedIndex].value));

          ++window.Index.Supporter;
        }

        function addPeople(e) {
          e.stopPropagation();
          e.preventDefault();

          var sessionsElm = document.getElementById('sessions');
          var dropdownElm = document.getElementById('people-dropdown');
          sessionsElm.appendChild(getNode("sessions[" + window.Index.Session + "]" + "[people][" + window.Index.People + "][name]", "hidden", "text", dropdownElm[dropdownElm.selectedIndex].value));

          ++window.Index.People;
        }

      </script>
  </body>
</html>
